
certifi==2021.10.8
cvxpy==1.1.18
cvxpylayers==0.1.5
cycler==0.11.0
dccp==1.0.3
diffcp==1.0.19
ecos==2.0.10
entrypoints==0.3
fonttools==4.29.1
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
matplotlib==3.5.1
matplotlib-inline==0.1.2
numpy==1.22.1
osqp==0.6.2.post5
pandas==1.4.0
pickleshare==0.7.5
Pillow==9.0.0
psutil==5.9.0
pybind11==2.9.0
pytz==2021.3
qdldl==0.1.5.post0
scikit-learn==1.0.2
scipy==1.7.3
scs==3.1.0
sklearn==0.0
terminado==0.9.4
threadpoolctl==3.1.0
torch==1.10.2
typing_extensions==4.0.1
webencodings==0.5.1
